.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
}

.footer a {
    font-size: 30px;
    color: white;
}

a {
    text-decoration: none;
}

.footer p {
  color: white;
  font-weight: lighter;
  opacity: 0.6;
}

i {
  margin: 2px;
}

i:hover {
  color: rgb(151, 145, 245);
}
